body {
	background-color: #cecece
}

.fr {
	float:right;
}

.fl {
	float:left;
}

.cb {
	clear:both;
}

.title-container {
	position:relative;
	width:100%;
}

.title-container a {
	position:absolute;
	right:0;
	bottom:0;
}

.team-photo {
	background:url(team.jpg) no-repeat top center;
	background-size:cover;
	height:350px;
	width:100%;
	display:block;
	border-radius: 3px;
}

@media all and (max-width: 600px)  {
	.team-photo {
		height:120px;
	}
}